@media  (max-width:400px){

body{
	
	width:5000px;
}
}

body {
	
	
	
	font-family:system-ui;
	width:1600px;
	
	
}


.parallax {
	background-image:url("slideshow-11.jpg.jpg");
	height:max-content;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	
}

.page-title {
	
	background:rgba(0,0,0,0.5);
	text-align:center;
	color:white;
	padding:50px;
	font-variant:small-caps;
	font-size:120px;
	font-family:fantasy;
	letter-spacing:8px;
	
}

.sticky {
	position:fixed;
	top:0;
	width:100%;
}
.menu {
	background:#00008B	;
	text-align:center;
	
}

.menu-ul{
	margin:0;
	padding:0;
	display:inline;
}

.menu-ul li {
	font-size:17px;
	list-style:none;
	display:inline-block;
	padding:25px 25px 26px 25px;
	
	
}
.a-menu, .a-links{
	text-decoration:none;
	color:white;
	
}
	
.menu-ul li:hover{
		background-color:black; 
		
		transform:scale(1.0);
}

.search-box{
	border:1px solid white;
	border-radius:90px;
	background:white;
	width:max-content;
	display:inline-block;
	margin:5px;
	cursor:pointer;
	
	
}
.search-box:hover{
	box-shadow:0 0 10px 2px #00008B;
	border:1px solid #00008B;
	
}
.search-input {
	width:250px;
	border:none;
	font-size:16px;
	outline:none;
	background:transparent;
	margin:15px 0 0 10px;
}
i {
	font-size:20px;
	margin:0 10px 0 0;
}
button{
	background:transparent;
	border:none;
	outline:none;
}
.container, .ABOUTUS-container{
	margin:50px 50px 50px 5%;
	width:90%;
	text-align:center;
}

.container, .AC-container{
	margin:50px 50px 50px 5%;
	width:90%;
	text-align:center;
	
}

.container,   .OEM-container{
	 
	 margin:50px 50px 50px 5%;
	width:90%;
	text-align:center;
}
	
	.AC-button{
		
		
	background-color:#00008B;
	color:white; 
	border-style:solid;
	border:none;
	height:36px;
	width:74px;
	border-radius:18px;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
	transition:box-shadow 0.15s;
	}
		.OEM-button {
			
				
	background-color:#00008B;
	color:white; 
	border-style:solid;
	border:none;
	height:36px;
	width:74px;
	border-radius:18px;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
	transition:box-shadow 0.15s;
			
	}
		.CONTACT-button {
			
						
	background-color:#00008B;
	color:white; 
	border-style:solid;
	border:none;
	height:36px;
	width:85px;
	border-radius:18px;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
	transition:box-shadow 0.15s;
	}
		
		.ABOUTUS-button {
			
							
	background-color:#00008B;
	color:white; 
	border-style:solid;
	border:none;
	height:36px;
	width:90px;
	border-radius:18px;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
	transition:box-shadow 0.15s;
	}

.categories, .items{
	width:max-content;
	margin:25px;
	border:1px solid #18d47;
	border-radius:0 0 50px 50px;
	display:inline-block;
	
}
.categories:hover, .items:hover{
	box-shadow:0 0 10px 3px #00008B;
}
.item-image{
	height:200px;
	width:200px;
	border-radius:0 0 50px  50px;
	padding:10px;
}

.image-title{
	text-align:center;
	padding:10px;
	font-weight:bold;
}
a{
	text-decoration:none;
}

.title {
	padding:50px;
	font-size:50px;
	font-weight:bold;
	letter-spacing:10px;
	color:white;
	background:rgba(0,0,0,0.5);
	
}

.ABOUTUS {
	padding:50px;
	font-size:20px;
	font-weight:bold;
	color:white;
	display:inline-block;
	margin:20px;
	max-width:20%;
	background:linear-gradient(120deg,#0000CD		20%,#000 50%, #0000CD	  80%);
	
}

p{
	letter-spacing:1px;
	line-height:40px;
	color:grey;
}
	
	
.images{
	display:inline-block;
	
}

.item-image-size{
	height:250px;
	width:300px;
	padding:5px;
	
}

.description {
	
	margin:20px;
	min-height:100px;
	
}

.item-select{
	margin:10px 0 0 0;
	
}

.buynow-btn{
	border:1px solid #00008B;
	background:#00008B;
	padding:5px 15px;
	border-radius:20px;
	font-weight:bold;
	margin-top:10px;
	color:white;
	cursor:pointer;
}
.buynow-btn:hover{
	border:1px solid #0000CD;
	box-shadow:0 0 10px 5px #000080 inset;
	
}
	

.parallax4{
	
	
		background-image:url("dark.jpg");
		
		height:80px;
		display:flex;
		
	width:1580px;
	
}
	
	
	
.parallax3{
		
		background-image:url("dark.jpg");
		height:1000px;
		
		width:1580px;
		
		
		
		
		
		
		
	}

.container2 {


		width:200px;
		
		height:30px;
		margin-bottom:500px;
		margin:20px 14px;
		
		
		margin-left:900px;
}

.parallax2 {
   background-color:grey;

 display:wrap;
 margin:70px;
 width:1350px;
 text-align:center;
 margin-left:100px;
   
}

 
	

	
	

.parallax1 {

background-image:url("air con.jpg");

height:max-content;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;

	

}

.footer {
	background:rgba(0,0,0,0.5);
	text-align:center;
	padding:20px;
	
}

.quick-links{
	color:white;
	font-size:20px;
	font-weight:bold;
	display:inline-block;
	min-width:30%;
}

.quick-links ul {
	padding:0;
	
}

.quick-links li {
	list-style:none;
	padding:10px;
	font-weight:300px;
}

.a-links:hover{
	
	color:#fd5e53;
	
}

.copyrights{
	font-size:16px;
	font-family:verdana, arial,helvcita, sans-serif;
	text-align:center;
	margin:15px;
}


h4 {
	margin-left:230px;
	color:white;
	font-size:34px;
	
	margin-top:4px;
	
	
}


.lock {
	
		width:120px;
		position:relative;
		height:80px;
		background:white;
		margin:9px 12px;
		margin:center;
		margin-bottom:100px;
		margin-left:230px;
		
		
		
}

.custome {
	display:wrap;
	height:100vh;
}




b {
	color:white;
}


.class {
	
		width:200px;
		position:relative;
		height:200px;
		
		margin:20px 10px;
		margin:center;
		display:inline-block;
		margin-left:900px;
		margin-top:22px;

	
}

.name {
	height:55px;
	width:400px;
	background:#3C99DC;
}

.name:hover{
	background-color:white	;
}

.send {
	
	
	background-color:blue;
	color:blue; 
	border-style:solid;
	border:none;
	height:29px;
	width:120px;
	border-radius:190px;
	font-weight:bold;
	font-size:21px;
	cursor:pointer;
	transition:box-shadow 0.15s;
}


.send:hover{
	background-color:#ADD8E6;
	color:#blue ;
}



.try {
	
	text-align:center;
	margin-left:.900rem;
	
}


.try1 {
	
	margin-left:800px;
}


.try2 {
	
	margin-left:1000px;
}



	
	.us {
display:inline-block;
		width:120px;
		
		
	}
		
		
	.insta {
		
		width:70px;
		height:70px;
		margin-left:300px;
		display:inline-block;
		
		
	}
	.tweets{
		
	width:55px;
		height:70px;
		 margin-left:277px;
		 display:inline-block

	}
	.facebook{
		width:127px;
		height:73px;
		 margin-left:19px;
		 display:inline-block
	}
	




















